.about-container{
    background-color: rgba(207, 203, 203, 0.185);
    background-image: url("image/light-sketch.png");

    display: flex;
    flex-flow: column nowrap;

    align-items: center;

    gap: 2.5rem 2rem;


    margin-bottom: 25rem;
    margin-top: 5rem;

    .background-container{
        background-color: var(--color-five);
        width: 80%;
        font-size: 1.5rem;
        font-weight: 550;
        p{
            line-height: 2.8rem;
        }
    }
    .contact-container{
        background-color: var(--color-five);
 

        width: 70%;
        height: 120%;
       
        font-size: 17px;
        font-weight: 650;
        word-spacing: 10vw;

    }
    .navigator{
        background-color: var(--color-five);
        background-image: url("image/light-sketch.png");
    
        font-size: 1.5rem;

        width: 80%;
    
    
        nav{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            gap: 1rem;
    
            a{
                /* border: 2px solid red; */
                width: 10rem;
            }
        }
    
    }
    
}