:root {
    --color-one: #000A1F;
    --color-two: #C6C5B9;
    --color-three: #003c58;
    --color-four: #02628f;
}

/* *{
    border: 2px solid red;
} */

@font-face {
    font-family: 'Tenor-Sans';
    src: url('font/Tenor_Sans/TenorSans-Regular.ttf') format('woff2');
}
@font-face {
    font-family: 'ddaftt';
    src: url('font/ddaftt/dDAFTt-U.ttf') format('woff2');
}
@font-face {
    font-family: 'brown-sugar';
    src: url('font/brown_sugar/Brown-Sugar.ttf') format('woff2');
}
@font-face {
    font-family: 'seveneleven';
    src: url('font/7ELEVEN.ttf') format('woff2');
}


html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}



body{
    background-image: 
        url("image/black-mamba.png"), 
        linear-gradient(to top, var(--color-one) 38%, var(--color-three) 75%, var(--color-four) 100%);
    background-attachment: fixed;
    min-height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */

}

/* ################### LINE accros screen  */
hr {  
    border: 3px solid white;
    margin: 0rem 0rem 5rem 0rem;   
    width: 100%;
}

h1,
h2,
h3,
header{
    font-family: Tenor-Sans;
    font-style: bold;
}

p{
    font-family: sans-serif;
}

.container{
    width: 85%;
    height: 90%;
    padding: 2rem;
    border-radius: 2rem 2rem 2rem 2rem / 1.5rem 1.5rem 1.5rem 1.5rem;
}


.side-project-header{
    font-size: 525%;
    font-family: baisteach;
    color: rgb(230, 243, 255);

    margin-bottom: 2.5%;
    text-shadow: 
        2px 2px 20px rgb(0, 0, 0);
}

.side-project-container-title{
    font-size: 5rem;
    font-weight: 400;
}


.side-project-container{

    color: whitesmoke;

    margin: auto;
    width: 75%;

    background-color: #00061400;
    background-image: url("image/light-sketch.png");
    

    display: grid; 
    /* defines the width of each column */
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    /*  defines the height of each row */
    grid-template-rows: repeat(12, .8fr);   
    grid-gap: .5em .5em; 
    
    min-width: 0;
    overflow: hidden;
    

    /* Decorative borders */
    border-left: 4.5px dotted whitesmoke;
    border-right: 4.5px dotted whitesmoke;
    -moz-border-radius-topright: 30px 20px;
    -moz-border-radius-topleft: 30px 20px;

    grid-template-areas:
        "Box17 Box17 Box18 Box18"
        "Box19 Box19 Box19 Box19"
        "Box1 Box1 Box2 Box2"
        "Box3 Box3 Box2 Box2"
        "Box6 Box6 Box6 Box6"
        "Box5 Box5 Box4 Box4"
        "Box7 Box7 Box8 Box8"
        "Box9 Box9 Box21 Box21"
        "Box20 Box20 Box21 Box21"
        "Box10 Box10 Box11 Box11"     
        "Box12 Box12 Box12 Box12"
        "Box13 Box13 Box14 Box14"
        "Box15 Box15 Box15 Box15"
      ;
    


    .Box { 
        /* border: 2px dotted rgba(255, 0, 0, 0.356); */
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        gap: 10px;
        padding: 25px;

        iframe{
            width: 90%;
            height: 480px;

            display: block;
            margin: 0 auto;

            border: 1px dashed lightblue;
        }

        img {
            min-width: 80%;
            max-width: 90%;
            max-height: 100%;

            display: block; 
            margin: 0 auto; 
            
            border: 1px dashed rgb(83, 141, 160);
            
        }
        p{
            font-size: 180%;
            margin-bottom: 20px;
            font-weight: 900;
            text-align: center;
        }
    }
    .Box1 { grid-area: Box1; }
    .Box2 { grid-area: Box2; }
    .Box3 { grid-area: Box3; }
    .Box4 { grid-area: Box4; }
    .Box5 { grid-area: Box5; }
    .Box6 { grid-area: Box6; }
    .Box7 { grid-area: Box7; }
    .Box8 { grid-area: Box8; }
    .Box9 { grid-area: Box9;}
    .Box20 { grid-area: Box20;}
    .Box21 { 
        grid-area: Box21;
    }
    .Box10 { grid-area: Box10; }
    .Box11 { grid-area: Box11; }
    .Box12 { 
        grid-area: Box12;
        width: 80%;
    }
    .Box13 { grid-area: Box13; }
    .Box14 { grid-area: Box14; }
    .Box15 { grid-area: Box15; }
    .Box16 { grid-area: Box16; }
    .Box17 { grid-area: Box17; }
    .Box18 { grid-area: Box18; }
    .Box19 {
         grid-area: Box19;
        iframe{height: 560px;}}
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
.fade-in.visible {
    opacity: 100%;
    transform: translateY(0);
}

/* ------------------------------------------ Scroll to the top button ------------------------------------------ */ 

#scrollToTopBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #ffffff;
    background-image: url("image/lined-paper.png");
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    visibility: hidden;
    cursor: pointer;

    opacity: 0;
    animation: rotateAnimation 5s linear infinite;
    transition: all var(--transition-speed) ease-in-out;
    z-index: 5;

}

#scrollToTopBtn:hover {
    background-color: #333;
}

#scrollToTopBtn.visible {
    visibility: visible;
    opacity: 1;
}

/* Arrow icon inside button */
#scrollToTopBtn::after {
    content: "↑";
    font-size: 28px;
}

@keyframes rotateAnimation {
    0% {transform: rotateY(0deg) rotateZ(0deg);}
    50% {transform: rotateY(180deg) rotateZ(5deg);}
    100% {transform: rotateY(360deg) rotateZ(0deg);}
}

footer{
    color: #9E7682;
    background-color: #F5F2DB;
    padding: 1rem;
    font-size: smaller;
    margin-top: 4rem;
    background-image: url("image/lined-paper-2.png");
}



/* ------------------------------------------ Image Modal  from W3schools------------------------------------------ */ 

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 10;
    padding-top: 175px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
    background-color: rgba(0, 0, 0, 0.85);
    color: #eeecec;

}
  
  /* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    height: 60%;
    width: 60%;
    max-width: 60vw;
}
  
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #eeecec;
    padding: 10px 0;
    height: 150px;
}
  
/* Add Animation - Zoom in the Modal */
.modal-content, #modal-caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Zoom in animation, when appearin/Pooping up */
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
  /* The Close Button */
.close {
    border: 2px solid rgba(48, 45, 45, 0.39);
    width: 1800px;
    height: 900px;
    
    position: absolute;
    top: 0px;
    right: 35px;
    color: #f1f1f1;
    font-size: 80px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  


  /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}

@media screen and (max-width: 1600px) {
    
    html {
        font-size: 12px;
    }
}

/* Media queries for responsive design */
@media screen and (max-width: 1300px) {
    
    html {
        font-size: 11px;
    }
    
    .side-project-container-title {
        font-size: 4rem;
    }
    
    .side-project-container {
        padding: 60px;
        grid-gap: 0.4em 0.4em;
        grid-template-rows: repeat(11, .6fr);  
    }
    #scrollToTopBtn {
        width: 20px;
        height: 20px;
    }
    #scrollToTopBtn::after {
        content: "↑";
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
    html {
        font-size: 10px;
    }
    
    .container {
        width: 95%;
        padding: 1.5rem;
    }
    
    .side-project-container-title {
        font-size: 3.5rem;
    }
    
    .side-project-container {

        margin: auto;
        width: 75%;

        padding: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(15, .25fr);   
        grid-template-areas: 
            "Box17 Box17"
            "Box18 Box18"
            "Box19 Box19"
            "Box1 Box1"
            "Box2 Box2"
            "Box3 Box3"
            "Box6 Box6"
            "Box4 Box4"
            "Box5 Box5"
            "Box7 Box8"
            "Box9 Box20"
            "Box21 Box21"
            "Box10 Box11"
            "Box12 Box12"
            "Box13 Box14"
            "Box15 Box15";
            
        .Box {
            padding: 20px;
            
            iframe {
                height: 360px;
            }
            
            p {
                font-size: 190%;
            }
        }
    }
    
    #scrollToTopBtn {
        bottom: 30px;
        right: 30px;
        width: 40px;
        height: 40px;
    }
    
    #scrollToTopBtn::after {
        font-size: 22px;
    }
    
    .modal-content {
        height: 70%;
        width: 70%;
        max-width: 70vw;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
    


    
    .side-project-container-title {
        font-size: 3rem;
    }
    
    .side-project-container {
        padding: 30px;
        grid-gap: 0.3em 0.3em;
        grid-template-rows: repeat(14, .25fr);   
        border-left: 3px dotted whitesmoke;
        border-right: 3px dotted whitesmoke;
        
        .Box {

            padding: 15px;
            min-width: 90%;
            
            iframe {
                height: 300px;
                width: 95%;
            }
            
            img {
                min-width: 85%;
                max-width: 95%;
            }
            
            p {
                font-size: 120%;
            }
        }
    }
    
    .close {
        width: auto;
        height: auto;
        top: 15px;
        right: 25px;
        font-size: 60px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }
    
    .container {
        width: 98%;
        padding: 1rem;
        border-radius: 1rem 1rem 1rem 1rem / 1rem 1rem 1rem 1rem;
    }
    
    .side-project-container-title {
        font-size: 2.5rem;
    }
    
    .side-project-container {
        margin: auto;
        width: 75%;
    
        padding: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(20, .5fr);   
        grid-template-areas: 
            "Box17"
            "Box18"
            "Box19"
            "Box1"
            "Box2"
            "Box3"
            "Box6"
            "Box4"
            "Box5"
            "Box7"
            "Box8"
            "Box9"
            "Box20"
            "Box21"
            "Box10"
            "Box11"
            "Box12"
            "Box13"
            "Box14"
            "Box15"
            "Box16";
            
        .Box {
            padding: 10px;
            min-width: 95%;
            
            iframe {
                height: 250px;
                width: 100%;
            }
            
            img {
                min-width: 90%;
                max-width: 100%;
            }
            
            p {
                font-size: 160%;
                margin-bottom: 10px;
            }
        }
        
 
    }
    
    #scrollToTopBtn {
        bottom: 20px;
        right: 20px;
        width: 35px;
        height: 35px;
    }
    
    #scrollToTopBtn::after {
        font-size: 18px;
    }
    
    .modal {
        padding-top: 100px;
    }
    
    .modal-content {
        height: 80%;
        width: 80%;
        max-width: 80vw;
    }
    
    #modal-caption {
        width: 90%;
        height: 100px;
    }
    
    .close {
        top: 10px;
        right: 15px;
        font-size: 40px;
    }
}


/* Music Player */

.SP-track-name,
.SP-artist-name {
    display: inline-block;
    text-wrap: nowrap;
    overflow: hidden;
    background-color: #00000085;
    width: 99.5%;
}

.StarrPlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00000085;
    padding: 1rem;
    color: white;
    width: 35%;

    margin: auto;
    margin-bottom: 10%;
}

.SP-track-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #00000085;
    padding: 0;
    width: 100%;
    position: relative;
}

.SP-track {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    background-color: #00000085;
}

.SP-artist {
    font-size: 1.25rem;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    background-color: #00000085;
}

.SP-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    background-color: #00000085;
    width: 100%;
}

.SP-progress-bar {
    width: 100%;
    height: 0.2rem;
    background-color: #ffffff63;
    margin: 0.5rem 0;
}

.SP-progress-bar-fill {
    height: 100%;
    background-color: #8f41fb;
    position: relative;
}

.SP-progress-bar-knob {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(50%, -50%);
    width: 0.75rem;
    height: 0.75rem;
    background-color: #d093ff;
    border-radius: 50%;
}

.SP-button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #00000085;
    width: 100%;
    gap: 0.5rem;
}

.SP-button {
    background-color: #ffffff63;
    color: white;
    padding: 0.25rem 0.75rem;
    border: none;
    cursor: pointer;
    user-select: none;
}

.SP-button:hover {
    background-color: #a8a8a863;
}

